 {% extends 'base.html' %}

 {% block content %}
     <main class="main" role="main">
         <article class="article archives-about article-type-normal" itemscope="">
             <header class="article-header"><h1 itemprop="title">关于</h1>
                 <p class="text-muted">喜欢新事物，关注前端技术动态，对新的技术有追求；喜欢 coding ，喜欢产品，喜欢设计。</p></header>
             <div class="article-body">
                 <figure class="highlight javascript">
                     <table>
                         <tbody>
                         <tr>
                             <td class="code">
                                 <pre><span class="line">{</span><br><span class="line">  name: <span class="string">'Arthur'</span>,</span>
                                     <br><span class="line">  age: <span class="number">29</span>,</span>
                                     <br><span class="line">  gender: <span class="string">'男'</span>,</span>
                                     <br><span class="line">  profession: <span class="string">'iOS &amp; Flutter &amp; Python &amp; Web Developer'</span>,</span>
                                     <br><span class="line">  experience: <span class="string">'8年'</span>,</span>
                                     <br><span class="line">  address: <span class="string">'北京市'</span>,</span>
                                     <br><span class="line">  education: <span class="string">'本科'</span>,</span>
                                     <br><span class="line">  github: <span class="string">'https://github.com/ChuanqingYang'</span>,</span>
                                     <br><span class="line">  blog: <span class="string">'xxxxx'</span>,</span>
                                     <br><span class="line">  email: <span class="string">'15318119557@163.com'</span>,</span>
                                     <br><span class="line">  description: <span class="string">'热爱前端技术'</span>,</span>
                                     <br><span class="line"></span>

                                     <br><span class="line">  skills: [</span><br><span
                                         class="line">    [<span
                                            class="string">'Object-C'</span>,<span
                                            class="string">'Swift'</span>,<span
                                            class="string">'Flutter'</span>,<span
                                            class="string">'Dart'</span>,<span
                                            class="string">'HTML'</span>,<span
                                            class="string">'Python'</span>],</span><br><span
                                         class="line">    [<span
                                                class="string">'Webpack'</span>,<span
                                                class="string">'Gulp'</span>],</span><br><span
                                         class="line">    [<span
                                                class="string">'Less'</span>,<span
                                                class="string">'Sass'</span>],</span><br><span
                                         class="line">    [<span
                                                class="string">'Git'</span>,<span
                                                class="string">'SVN'</span>]</span><br><span
                                         class="line">  ],</span><br><span
                                         class="line"></span><br><span
                                         class="line">  devTools: [</span><br><span
                                         class="line">    [<span
                                            class="string">'Xcode'</span>,<span
                                            class="string">'Sublime Text'</span>,<span
                                            class="string">'Visual Studio Code'</span>,<span
                                            class="string">'Android Studio'</span>],</span><br><span
                                         class="line">    [<span
                                            class="string">'Chrome DevTools'</span>,<span
                                            class="string">'Fiddler'</span>],</span><br><span
                                         class="line">    [<span
                                            class="string">'SourceTree'</span>,<span
                                            class="string">'Cornerstone'</span>],</span><br><span
                                         class="line">    [<span
                                            class="string">'Navicat'</span>,<span
                                            class="string">'RDM'</span>]</span><br><span
                                         class="line">  ]  </span><br><span
                                         class="line">}</span><br>
                                 </pre>
                             </td>
                         </tr>
                         </tbody>
                     </table>
                 </figure>
             </div>
         </article>
     </main>
 {% endblock %}